<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Locadora de carros</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/dashboard.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


	<nav class="navbar navbar-inverse navbar-fixed-top" layout:fragment="nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">AloCAR</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/cliente/editar" th:text="${cliente.nome}">Nome</a></li>
					<li><a href="/logout">Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/carros/all">Carros</a></li>
					<li><a href="/cliente/all">Clientes</a></li>
				</ul>

			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<div class="">
				<label><a href="/carros/cadastrar">Cadastrar carro</a></label>

					<table class="table table-striped">
				  <thead>
					<tr>
					  <th>Codigo</th>
					  <th>Marca</th>
					  <th>Modelo</th>
					  <th>Ano</th>
					  <th>Preço por dia</th>
					  <th>Ações</th>
					</tr>
				  </thead>
				  <tbody>
					<tr th:each="carro : ${carros}">
					    <td th:text="${carro.id}">Onions</td>
					    <td th:text="${carro.marca}">bla bla</td>
					    <td th:text="${carro.modelo}">2.41</td>
					    <td th:text="${carro.ano}">2.41</td>
					    <td th:text="${carro.preco_dia}">2.41</td>
					    <td>
					    	<a th:href="@{'/carros/editar/' + ${carro.id}}">Editar</a>
					    	<a th:href="@{'/carros/delete/' + ${carro.id}}">Apagar</a>
					    </td>
					  </tr>
				  </tbody>
				</table>

				</div>
				<!-- /container -->
			</div>

		</div>
	</div>



	</div>
	<!-- /container -->
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="/js/vendor/holder.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
